/* Link for stylesheet  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.choose-btn{
    background-color: #fff;
    color: black;

}

.text {
    color: white;
}

.tick-color{
    color: white;
    /* background-color: red; */
}

.tick-color span{
    color: white;
}