/* Link for stylesheet  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.choose-btn{
    background-color: rgb(231, 186, 214);
    color: white;

}

.text {
    color: white;
}

